/* importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');


/* a tag (*) significa que o estilo/ formatação será aplicado em tudo */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Lato";
}

/* DEFININDO CORES */
:root {
    --blue: #7bffff;
    --black: black;
    --gray: gray;
}

/* Trabalhando no Body e no html */
html,
body {
    width: 100%;
    /* Largura de 100% */
    overflow-x: initial !important;
    /* Esconde a barra de rolagem da horizontal (hide bar) */
    background-color: #fff;
}

/* Estilizando o cabeçalho 
Porcentagem --> O tamanho é referido ao elemento pai da classe
Px(Pixel) --> O tamanho é fixo independente.
*/


/* Utilizando tamanhos e alturas RESPONSÍVAS */

nav {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.brand {
    font-size: 50px;
    color: var(--black);
    text-decoration: none;
    /* Retira o risco do texto */
}

.brand:hover {
    transition: 1s;
    font-size: 60px;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
}

nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

/* Edita os botões criados no cabeçalho */
nav ul li a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 17px;
}

/* Edita os botões criados no cabeçalho quando o mouse passa em cima (:hover) */
nav ul li a:hover {
    transition: 1s;
    text-decoration: none;
    color: #1C1C1C;
    font-size: 20px;
}


footer {
    background-color: #7a7a7a;
    width: 100%;
    height: 50%;
}

footer .main {
    width: 100%;
    height: 200px;
    padding: 30px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    position: relative;
    left: 150px;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-redes {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
    justify-content: space-between;
}

.footer-endereco {
    max-width: 1000px;
    min-width: 300px;
    padding-left: 100px;
}

.redes-icons img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

footer .last {
    background-color: #7a7a7a;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.sua-protecao {
    font-size: 23px;
    color: aqua;
    border-color: black;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 100px;
    padding-left: 20px;
}

.sua-protecao h2 {
    font-family: "Lato";
    color: black;
}

/* AVALIAÇÕES CLIENTES =============================================== */

.content .formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 33px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
}

.content .formulario .inputs {
    display: flex;
    flex-direction: column;
}

.content .formulario .inputs input {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.content .formulario .box {
    background-image: linear-gradient(to right, white, rgb(112, 110, 110));
    padding: 15px;
    border-radius: 40px;
    border: 3px solid black;
}

.content .formulario .box .avaliacao {
    position: relative;
    left: 60px;
    padding-top: 10px;
}

.inputStar {
    margin-top: 20px;
}

.fieldText {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.enviarBtn {
    margin-top: 50px;
}

.content .formulario legend {
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    background-image: linear-gradient(to right, white, rgb(112, 110, 110));
    text-align: center;
}


.content .formulario .enviar {
    font-size: 18px;
    padding-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 11px;
    background-image: linear-gradient(to right, white, rgb(102, 2, 2));
    text-align: center;
}

#data {
    border-radius: 30px;
    border: 2px solid black;
    padding: 11px;
}

.content .formulario .enviarBtn {
    display: flex;
    justify-content: center;

}

#enviar {
    width: 100%;
    cursor: pointer;
}


.content .sloganav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

.stars .star {
    width: 20px;
}

.cards {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center center;
    padding-left: 400px;
    padding-right: 400px;
}

.card .image-usuario {
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    left: 20px;
}

.card p {
    position: relative;
    left: 150px;
    bottom: 135px;
    padding-right: 30%;
}

.card-novosusers .image-usuario {
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    left: 20px;
}

.card-novosusers p {
    position: relative;
    left: 150px;
    bottom: 135px;
    padding-right: 30%;
}

.card-novosusers {
    display: flex;
    flex-direction: column-reverse;
}



/* RESPONSIVE  */

@media screen and (max-width: 780px) {
    .sloganav {
        position: relative;
        margin: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cards {
        position: relative;
        left: 10px;
        margin: 10%;

    }

    .card p {
        position: relative;
        margin-right: 3%;
        bottom: -10px;
        padding-bottom: 80px;
        right: inherit;
        left: 0;
        padding-right: 0%;
    }


    footer {
        position: relative;
        height: 400px;
        width: 100%;
    }


    .last h3 {
        padding-top: 50%;

    }


    .footer-links {
        position: relative;
        flex-direction: column;
    }

    .footer-company {
        margin-top: 1%;
        margin-left: 15%;
    }

    .footer-endereco {
        position: relative;
        padding-top: 30px;
        padding-left: 0%;
        margin-left: 15%;

    }

    .footer-redes {
        position: relative;
        padding-top: 30px;
        padding-left: 0%;
        margin-left: 15%;
    }

}
.btn-dark {
    background-color: #212529;
    color: #fff;
    font-size: 25px;
    font-family: "Lato";
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-color: #212529;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius:  15px;
    text-transform: capitalize;
    width: 200px;
    align-self: center;
    text-decoration: none;
    margin: 0 auto;}

    .fazerCotacao{
        
        display: flex
        ;
        
        
    }