body{
    text-align: center;
}
form {
    font-family: verdana, arial;
    border: 1px solid ;
    border-radius:  10px;
    box-shadow: 3px 0px 10px 0px rgba(66, 65, 65, 0.8);
    max-width:900px;
    margin: 0 auto;
    padding: 40px
}

.title {
    text-align: center;
}
hr {
    margin: 0
}
select {
    border: 1px solid ;
    border-radius:  10px;
    box-shadow: 3px 0px 10px 0px rgba(66, 65, 65, 0.8);
    width: 120px;
}
input {
    border: 1px solid ;
    border-radius:  10px;
}
.container {
    background-image: url(../img/slide2.jpg);
    background-repeat: no-repeat;
    max-width:900px;
    margin: 0 auto;
    background-size: 900px auto;
    
}
h4 {
    margin: 0, auto;
    text-align: center;
}

input {
    margin: 10px 30px 
}
.btn {
    border-radius: 0;
    color: black;
    background-color: antiquewhite;
    align-items: center;
    
}

.btn:hover{
    background-color: rgb(86, 100, 221);
    cursor: pointer;
}

.btn:active{
    background-color: rgba(83, 95, 201, 0.589);
}