* {
    font-family: 'Lato';
}
/* NAVBAR */

#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand spam{
    font-weight: 750;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}
body{
    text-align: center;
}
form {
    
    border: 1px solid ;
    box-shadow: 3px 0px 10px 0px rgba(66, 65, 65, 0.8);
    max-width:900px;
    margin: 0 auto;
    margin-top: 20px;
}

.title {
    text-align: center;
}
hr {
    margin: 0
}
select {
    border: 1px solid ;
    border-radius:  10px;
    box-shadow: 3px 0px 10px 0px rgba(66, 65, 65, 0.8);
    width: 120px;
}
input {
    border: 1px solid ;
    border-radius:  10px;
}
.container2 {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    position: relative;
    top: 100px;
    max-width:900px;
    margin: 0 auto;
    background-size: 900px auto;
    
}
h4 {
    margin: 0, auto;
    text-align: center;
}

input {
    margin: 10px 30px 
}
.btn {
    margin: 0 auto;
      
    
}

.opcional{
    display: block;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
}
.opcional> input{
    margin: 20px;
}

.info{
    display: block;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
}

.valor{ 
    width: 280px;
}
.valorCotacao{ 
    font-size: 30px;
    background-color: white;
    margin-bottom: 0px;
    width: 500px;
    margin: 0 auto;
}