@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

/* NAVBAR */

#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover{
    color: #7a7a7a;
}

#navbar a.active{
    border-bottom: 1px solid #050505;
}

.navbar-brand{
    display: flex;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand spam{
    font-weight: 750;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: 'Ardena-Font';

}
.estrutura{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(177, 177, 177);
}
.conteudo{
    background-color: #ece8ea;
    border-radius: 15px;
    width: 70%;
    height:  60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteudo::before {
    content: "";
    position: absolute;
    background-color: #7a7a7a ;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    

    left: 0%;

}
 
.title{
  
    font-size: 29px;
    font-weight: bold;
    text-transform:capitalize;
}
.title-bemvindo{
    color:rgb(255, 255, 255);
    font-size: 33px;
}
.title-conta{
    color: #7a7a7a;
}
.descricao{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;   
}
.descricao-login{
    color: rgb(255, 255, 255);
}
.descricao-email{
    color: #7a7a7a;;
}
.btn{
    border-radius: 15px;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    padding: 4px 15px;
    cursor: pointer;
    width: 150px;
    align-self: center;
    
}
.btn-primary{
    background-color: transparent;
    border:1px solid #fff;
}
.btn-primary:hover{
    background-color:#fff;
    color: #7a7a7a;
}
.btn-second{
    background-color: #7a7a7a;
    border: 1px solid #fff;
}
.btn-second:hover{
    background-color:#fff;
    color: #7a7a7a;
}
.primeira-coluna{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
    
}
.segunda-coluna{
    flex: 2 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.primeiro-conteudo{
display: flex;
}
.primeiro-conteudo .segunda-coluna{
    z-index: 11;

}

.form {
    display: flex;
    flex-direction: column;
    width: 35%;

}
.form input{
    height:40px;
    border:none;
    background-color:#fff;
    margin:8px;
}

.segundo-conteudo{
    position: absolute;
    display: flex;
    
}
.segundo-conteudo .primeira-coluna{
    order: 2;
  
    z-index: -1;
}
.segundo-conteudo .segunda-coluna{
    order: 1;
    z-index: -1;
    
}


.sign-in-js .primeiro-conteudo .primeira-coluna{
    z-index:  -1;
}
.sign-in-js .primeiro-conteudo .segunda-coluna{
    z-index:  -1;

}
.sign-in-js .segundo-conteudo .primeira-coluna{
    z-index: 11;
}
.sign-in-js .segundo-conteudo .segunda-coluna{
    z-index: 11;
}

.sign-in-js .conteudo::before{
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sign-up-js .segundo-conteudo .primeira-coluna{
    z-index: -1;
}
.sign-up-js .segundo-conteudo .segunda-coluna{
    z-index: -1;
}

.sign-up-js .primeiro-conteudo .primeira-coluna{
    z-index: 11;
}
.sign-up-js .primeiro-conteudo .segunda-coluna{
z-index: 11;
}